.tags-btn,
.project-btn,
.prev-btn,
.page-btn,
.next-btn {
    all: unset;
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease;
}

.tags-btn,
.project-btn {
    border-radius: .8em;
    border: 1px solid #000;
    padding: .2em 1em;

    &:focus,
    &:hover {
        border: 1px solid #2f80ed;
        background-color: #2f80ed;
        color: #fff;
    }
}

.project-btn {
    border-radius: .5em;
    padding: .2em 1.5em;

    &.-blue {
        border: 1px solid #2f80ed;
        background-color: #2f80ed;
        color: #fff;
    }

    &.-blue:focus,
    &.-blue:hover,
    &:focus,
    &:hover {
        opacity: .7;
    }
}

.prev-btn,
.page-btn,
.next-btn {
    border-radius: .2em;
    border: 1px solid #000;
    padding: .2em .5em;

    &:focus,
    &:hover {
        border: 1px solid #2f80ed;
        background-color: #2f80ed;
        color: #fff;
    }
}