.profile-card {
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);

    > .imagebox {
        border-radius: .5em;
        overflow: hidden;
    }

    /// Small devices (portrait tablets and large phones, 600px and up)
    @media only screen and (min-width: 480px) {
        > .imagebox {
            .image {
                border-radius: .5em; /// bug fix
            }
        }
    }
}